html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------- Basic HTML tags -------------------- */
/*
	960 Grid System ~ Core CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/
/* Loi tra ve tu server*/
body{
	
}
/*----Can le tren cho table*/
table{
	margin-top: 20px;
}
/*-- Float trai va phai va clear--*/
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear: both;
}
/* -----------CSS cho phần nào thì comment phần đó lại. Ví dụ:-----------*/
/* -----------Bắt đầu CSS cho login.jsp---------------------*/
/* Ghi css cho trong login.jsp ở phần giữa này*/

/* -----------Kết thúc CSS cho login.jsp---------------------*/
/* -----------Bắt đầu CSS cho list-san-pham.jsp---------------------*/
.themSanPham label{
	font-weight: bold;
	padding-right: 20px;
	text-align: left;
}
/* -----------Kết thúc CSS cho login.jsp---------------------*/
/* -----------Lỗi---------------------*/
.loi{
	color:red;
	text-align: center;
}
/* -----------Lỗi---------------------*/
#frmLogin .taiKhoan, #frmLogin .matKhau{
	}